.budgetandtransaction{
    width: 100%;
    display: flex;
}
.budget{
    display: flex;
    width: 30%;
    flex-direction: column;
    padding: 20px;
}
.budget_header{
    display: flex;
    justify-content: space-between;
}
.budget_header>h3{
    margin: 0;
}
.budget_card{
    display: flex;
    background-color: #F8F9FD;
    height: auto;
    width: 100%;
    border-radius: 15px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.budget_card_left{
    display: flex;
    align-items: center;
}
.budget_card_right{
    display: flex;
    align-items: center;
}
.budget_card_icon_container{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #FADADC;
    justify-content: center;
    align-items: center;
}
.budget_card_icon_container span{
    color: #D10D15;
}
.budget_data{
    display: flex;
    margin-left: 10px;
}
.transaction{
    display: flex;
    width: 70%;
}

