body{
    font-family: 'Courier New', Courier, monospace;
}
.nav_container{
    display: flex;
    justify-content: space-between;
}
.nav_left {
    margin: 0;
}
.nav_left>h1 {
    margin: 0;
}
.nav_left>p{
    margin:0;
}
.nav_right{
    display: flex;
    justify-content: space-between;
    width: 10%;
    align-items: center;

}

.nav_right>div>img{
    width:50px;
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav_right span{
    color: #96A0B6;
}