*{
    box-sizing: border-box;
}
.add_transaction_form{
    position: absolute;
    height: auto;
    width: 40%;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 1;
    transition: .3s ease-out;
    margin-left: 30%;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
}

.add_transaction_header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 5px;
}
.add_transaction_body{
    display: flex;
    height: auto;
    padding: 10px;
    flex-direction: column;
}
.add_transaction_body label{
    margin-top: 10px;
}
.add_transaction_body  select{
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;

}

.add_transaction_header>button{
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    background-color: #FADADC;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
    color: #D10D15;
    border: 1px solid gray;
    
}
.add_transaction_header>button{
    
}

.add_transaction_body input{
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;

}
.add_transaction_body input[type="submit"]{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    background-color: #CFEEFF;
    color: gray;
    border: none;
    height: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: .3s ease-out;
}

.add_transaction_body input[type="submit"]:hover {
    background-color: #1D88EC;
    color: #ffffff;
}

