body{
    box-sizing: border-box;
}
#root{
    display: flex;
}
.holder{
    display: flex;
    width: 100%;
}
.sidebaritem{
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  transition: .3s ease-out;
}
.sidebaritem:hover{
    background-color: #3547AC;
    color: white;
}
.sidebaritem span:hover{
    color: white;
}
.sidebaritem span{
    color: gray;
}
.active_side_menu{
    background-color: #3547AC;
}
.active_side_menu span{
    color: #ffffff;
}
.budgetandtransaction{
    width: 100%;
    display: flex;
}
.budget{
    display: flex;
    width: 30%;
    flex-direction: column;
    padding: 20px;
}
.budget_header{
    display: flex;
    justify-content: space-between;
}
.budget_header>h3{
    margin: 0;
}
.budget_card{
    display: flex;
    background-color: #F8F9FD;
    height: auto;
    width: 100%;
    border-radius: 15px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    margin-top: 20px;
}
.budget_card_left{
    display: flex;
    align-items: center;
}
.budget_card_right{
    display: flex;
    align-items: center;
}
.budget_card_icon_container{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #FADADC;
    justify-content: center;
    align-items: center;
}
.budget_card_icon_container span{
    color: #D10D15;
}
.budget_data{
    display: flex;
    margin-left: 10px;
}
.transaction{
    display: flex;
    width: 70%;
}

